.address-container {
    max-width: 500px;
    width: 100%;
    margin: 60px auto;
}

.page-title {
    text-align: center;
    font-size: 24px;
    margin-bottom: 30px;
}

.form-group {
    margin-bottom: 25px;
}

.group-item {
    display: block;
    margin-bottom: 8px;
    font-weight: bold;
    font-size: 20px;
}

.group-input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    font-size: 16px;
}

.update-button {
    width: 100%;
    padding: 12px;
    background: #ff4b4b;
    border: none;
    color: white;
    font-weight: bold;
    font-size: 20px;
    cursor: pointer;
}

.form__error {
    height: 20px;
    color: #ff0000;
    text-align: left;
}